node_modules
*.swp
*.un~
.DS_Store
*.class
logs
project/project
project/target
project/activator*
target
tmp
.idea
.idea_modules
*.sublime-*
.ensime*
.settings
.target
bin
.cache
.classpath
.project
.worksheet
dist
*.sc
*.log
~*
.history
*.iml


